%h2= "NOTAMs for '#{@code.upcase}'"

%p
  %span.label.label-info These NOTAMs are automatically updated from RW sources and are always current!
  %br
  %span.label.label-important Flight simulation use only! Not to be used for real world navigation!

.notams
  -for notam in @notams
    %pre= notam

%ul.nav.nav-pills
  %li.active= link_to "JSON", "/notams/#{@code}.json"
  %li.active= link_to "XML", "/notams/#{@code}.xml"
  %li.active= link_to "CSV", "/notams/#{@code}.csv"