%h2 VATEUD Subdivisions

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th= sort_link @search, :code, "Code"
    %th= sort_link @search, :name, "Name"
    %th Website
    %th Official
    %th= "Details"
    %th= "Staff"
    %th= "Members"
    %th= "Events"

  - @subdivisions.each do |subdivision|
    %tr
      %td= subdivision.code
      %td= subdivision.name
      %td= link_to subdivision.website, subdivision.website
      %td
        - if subdivision.official?
          %span.badge.badge-success ✓
        - else 
          %span.badge.badge-important ✘
      %td= link_to "Details", "/subdivisions/#{subdivision.code}"
      %td= link_to "Staff", "/staff_members/vacc/#{subdivision.code}"
      %td= link_to "Members", "/members/#{subdivision.code}"
      %td= link_to "Events", "/events/vacc/#{subdivision.code}"

%ul.nav.nav-pills
  %li.active= link_to "JSON", "/subdivisions.json"
  %li.active= link_to "XML", "/subdivisions.xml"
  %li.active= link_to "CSV", "/subdivisions.csv"    