%row 
  .span7
    %h2= "Staff members for #{@vacc.name}"
  .span5

=render "staff_list"


%ul.nav.nav-pills
  %li.active= link_to "JSON", "/staff_members/vacc/#{@code}.json"
  %li.active= link_to "XML", "/staff_members/vacc/#{@code}.xml"
  %li.active= link_to "CSV", "/staff_members/vacc/#{@code}.csv"
