%h2= "Charts for '#{@code.upcase}'"

%p
  %span.label.label-info= raw("Charts data courtesy of #{link_to "charts.aero", "http://charts.aero"}")
  %br
  %span.label.label-important Flight simulation use only! Not to be used for real world navigation!

%ul.nav.nav-pills.alt
  %li.active= link_to "#{@code.upcase} Airport details", "/airports/#{@code.upcase}"
  %li.active= link_to "#{@code.upcase} Notams", "/notams/#{@code.upcase}"

%table.charts.table.table-striped.table-hover.table-bordered.table-condensed
  %tr
    %th Name
    %th Link (AIP)
    - if @charts.first.url_charts_aero
      %th.link-aero= raw("Link (#{link_to "charts.aero", "http://charts.aero"})")
  - for chart in @charts
    %tr
      %td= chart.name
      %td= link_to "Download", chart.url_aip
      - if chart.url_charts_aero
        %td.link-aero= link_to("Cached (charts.aero)", chart.url_charts_aero)

%ul.nav.nav-pills
  %li.active= link_to "JSON", "/charts/#{@code}.json"
  %li.active= link_to "XML", "/charts/#{@code}.xml"
  %li.active= link_to "CSV", "/charts/#{@code}.csv"