%row 
  .span8
    %h2= "Members by rating: #{@members_html.first.humanized_atc_rating}"
  .span4
    .pull-right  
      / <a href="#members-filter" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-search icon-white"></i> Filter Members</a>
      / <a href="/members" role="button" class="btn btn-danger"><i class="icon-list icon-white"></i> Clear Filters</a>

=render "members/members_list"


%ul.nav.nav-pills
  %li.active= link_to "JSON", "/ratings/#{@code}.json"
  %li.active= link_to "XML", "/ratings/#{@code}.xml"
  %li.active= link_to "CSV", "/ratings/#{@code}.csv"

/ = render "members_search_form"