%h2 VATEUD Countries

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th= sort_link @search, :code, "Code"
    %th= sort_link @search, :name, "Name"

  - @countries.each do |country|
    %tr
      %td= link_to country.code, "/countries/#{country.code}"
      %td= link_to country.name, "/countries/#{country.code}"
        