%ul.apinav.nav.nav-pills
  %li.logo= image_tag "logo.png", size: "140x25"
  %li.active= link_to "Documentation", "/"
  %li= link_to "Members List", "/members"
  %li= link_to "VACCs", "/subdivisions"
  %li= link_to "Countries", "/countries"
  %li= link_to "Ratings", "/ratings"
  %li= link_to "Who's Online", "/online"
  %li= link_to "NOTAMs", "/notams"