%ul.apinav.nav.nav-pills
  %li.logo= image_tag "logo.png", width: "230px"
  %li{:class => ("active" if controller_name == "online" && action_name == "help")}= link_to "Documentation", "/"
  %li{:class => ("active" if controller_name == "members")}= link_to "Members List", "/members"
  %li{:class => ("active" if controller_name == "ratings")}= link_to "Ratings", "/ratings"
  %li{:class => ("active" if controller_name == "subdivisions")}= link_to "VACCs", "/subdivisions"
  %li{:class => ("active" if controller_name == "staff_members")}= link_to "Staff Members", "/staff_members"
  %li{:class => ("active" if controller_name == "countries")}= link_to "Countries", "/countries"
  %li{:class => ("active" if controller_name == "online"  && action_name != "help")}= link_to "Who's Online", "/online"
  %li{:class => ("active" if controller_name == "airports")}= link_to "Airports", "/airports"
  %li{:class => ("active" if controller_name == "charts")}= link_to "Charts", "/charts"
  %li{:class => ("active" if controller_name == "notams")}= link_to "NOTAMs", "/notams"
  %li{:class => ("active" if controller_name == "events")}= link_to "Events", "/events"
  %li{:class => ("active" if controller_name == "frequencies")}= link_to "ATC frequencies", "/frequencies"
  %li{:class => ("active" if controller_name == "admin")}= link_to "Staff Zone", "/admin"