%ul.nav.nav-tabs
  %li= link_to "ATC", "/online/atc/#{@code}"
  %li= link_to "PILOTS", "/online/pilots/#{@code}"
  %li= link_to "ARRIVALS", "/online/arrivals/#{@code}"
  %li= link_to "DEPARTURES", "/online/departures/#{@code}"