%h2 Online stations

.online-search
  %h4 Enter ICAO filter
  %p.italic full or partial, one or multiple comma separated ICAO codes, designating FIR(s) or airport(s):
  = form_tag("/online/search", method: "get", :class => "form-search") do
    = text_field_tag(:q, nil, class: 'input-medium search-query', placeholder: 'ICAO filter...')
    = submit_tag("Search")

  %h4 Enter CALLSIGN filter
  %p.italic full or partial, one or multiple comma separated callsigns:
  = form_tag("/online/search_callsign", method: "get", :class => "form-search") do
    = text_field_tag(:q, nil, class: 'input-medium search-query', placeholder: 'CALLSIGN filter...')
    = submit_tag("Search")  